
# Name App
NUXT_PUBLIC_APP_NAME="Book Messenger"

# App Url
# Backend api for ssr
NUXT_API_BASE=

# Backend api for request from frontend
NUXT_PUBLIC_API_BASE=

# App host
NUXT_PUBLIC_APP_HOST=

# Link To Rest Api
NUXT_PUBLIC_API_BASE=http://localhost:8000/api

# Default API Version
NUXT_PUBLIC_DEFAULT_API_VERSION="v1"