
# Name App
NUXT_PUBLIC_APP_NAME="Book Messenger"

# App Url
NUXT_PUBLIC_APP_URL=

# Link To Rest Api
NUXT_PUBLIC_API_BASE=http://localhost:8000/api

# Default API Version
NUXT_PUBLIC_DEFAULT_API_VERSION="v1"